.register{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.latar{
    width: 65vw;
    height: 100vh;
}
#bg{
    background-color: #0D28A6;
    background-repeat: no-repeat;
}
.login{
    width: 30vw;
    height: 100vh;
    padding-left: 3rem;
    padding-top: 6rem;
}
#btn-signup{
    width:27vw;
    border-style: none;
    height: 5vh;
    margin-top: 5px;
    color: white;
    background-color: #0D28A6;
    margin-left: 3px;
}
.form-control{
    height: 5vh;
    width: 5vw;
}